$fuchsia: #ff44b8;
$cyan: #1bffea;
$movieTitle: #494747;
$lightGrey: #efe8e8;

button:focus, input:focus {
    outline: none;
}
.searchField {
    box-sizing: border-box;
    width: 60%;
    margin-bottom: 15px; 
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
}
.advance-block {
    display: flex;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 88px;
    width: 54%;
    border-radius: 0px 0px 15px 15px;
    border-top: 3px solid $fuchsia;
}
::ng-deep body .ui-dropdown, ::ng-deep body .ui-dropdown-panel, ::ng-deep body .ui-dropdown:not(.ui-state-disabled).ui-state-focus,
::ng-deep body .ui-dropdown:not(.ui-state-disabled):hover {
    border: none;
    box-shadow: none;
}
::ng-deep body .ui-inputtext, ::ng-deep body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    color: grey;
}
.matSpinner {
    position: fixed;
    top: 50%;
    right: 50%;
}
.matSpinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
stroke: #636262;
}
.moviesList {
    padding: 0px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.searchedResults {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 430px;
    margin-bottom: 20px;
}
.heading {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    margin: 70px 0 30px; 
    font-size: 4em;
    text-shadow:-3px 0px 5px $fuchsia, -4px 0px 2px $fuchsia, 
                 0px 0px 10px $fuchsia, 2px 0px 3px $fuchsia, 
                 0px -1px 5px $fuchsia, 0px -2px 0px $fuchsia, 
                 0px 1px 5px $fuchsia, 0px 2px 3px $fuchsia;
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.inputField {
    width: 57%;
    color: grey; 
    border-radius: 15px;
    height: 40px;
    padding: 3px 25px 0 40px;
    letter-spacing: 0.5px;
    &.isInvalid {
        border: 2px solid red;
    }
    &.withoutCursor {
        color: transparent;
    }
}
label {
    position: relative;
}
i {
    position: absolute;
    color: grey;
}
::ng-deep .fa.fa-search {
    left: 16px;
    top: 2px;
    &.notEmpty {
        color: $fuchsia;
    }
}
.button {
    background: $fuchsia;
    color: white;
    border: none;
    border-radius: 15px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    letter-spacing: 0.3px;
    &.search {
        margin: 0 2px;
    }
    &.advanced {
        background: $cyan;
    }
}
.button:hover, button label:hover {
    cursor: pointer;
}
.poster {
    width: 170px;
    height: 240px;
}
.movie-container {
    box-sizing: border-box;
    list-style: none;
    background-color: rgba(255,255,255,0.9);
    padding: 10px 10px;
    border-radius: 8px;
    margin: 20px 20px;
    border: 1px solid $lightGrey;
    min-height: 360px;
    &:hover {
        background-color: rgba(255,255,255,1);
        cursor: pointer;
        box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    }
}
.movie-title {
    font-weight: bolder;
    font-size: 19px;
    margin: 5px 0;
    min-height: 40px;
    text-align: center;
    color: $movieTitle;
}
.movie-details {
    text-align: center; 
    font-size: 16px;
    margin: 0px;
    color: #616060;
}
.nothingFound {
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    position: relative;
    margin: 20% auto; 
    padding: 20px;
    border-radius: 12px;
    width: 35%; 
    box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    & p {
        margin: 18px 0 15px 0;
        color: grey;
        letter-spacing: 0.3px;
    }
}
::ng-deep body .pi {
    &.pi-times {
        right: 16px;
        top: 15px;
        font-size: 1.5em;
        cursor: pointer;
    }
}
::ng-deep body .ui-paginator {
    background-color: transparent;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    border: none;
}
::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: $cyan;
    border-radius: 15px;
}
::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page:hover, ::ng-deep body .ui-paginator .ui-paginator-first:hover, 
  ::ng-deep body .ui-paginator .ui-paginator-prev:hover, ::ng-deep body .ui-paginator .ui-paginator-next:hover, ::ng-deep body .ui-paginator .ui-paginator-last:hover {
    border-radius: 15px;
}
::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus, ::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus, ::ng-deep body .ui-paginator .ui-paginator-first:focus, 
::ng-deep body .ui-paginator .ui-paginator-prev:focus, ::ng-deep body .ui-paginator .ui-paginator-next:focus, ::ng-deep body .ui-paginator .ui-paginator-last:focus {
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $cyan;
    box-shadow: inset 0 0 4px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,.3);
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box; 
}