<h1 class = "heading">MovieLand</h1>
    <form [formGroup] = "searchForm" (submit)="submitParams()" 
    class = "searchField" autocomplete="off">
        <label>
           <input formControlName="s" class="inputField" #searchQuery
               [class.isInvalid]="isInvalid" required>
            <i class="fa fa-search" [class.notEmpty]="searchQuery.value.length"></i>
        </label>
        <button class="button search" type="submit" 
                (click)="validateInput(searchQuery.value)">
                Search
        </button>
        <button class="button advanced" (click)="toggleAdvancedPanel()">
          Advanced
        </button>
        <div *ngIf="showAdvancedPanel" class="advance-block">
            <p-dropdown [options]="types" formControlName="type" 
                      placeholder="Select a type" optionLabel="viewValue" 
                      showTransitionOptions="225ms ease-out" [showClear]="true"
                      hideTransitionOptions="195ms ease-in"
                      (onChange)="submitParams()">
            </p-dropdown>
            <p-dropdown [options]="years" formControlName="y" 
                      placeholder="Select a year" [showClear]="true"
                      showTransitionOptions="225ms ease-out" 
                      hideTransitionOptions="195ms ease-in" optionLabel="value"
                      (onChange)="submitParams()" filter="true">
            </p-dropdown>
        </div> 
    </form>

    <div class = "matSpinner">
      <mat-spinner *ngIf = "showSpinner" diameter = "30"></mat-spinner>
    </div>
    <ul *ngIf="movies.length" class="moviesList">
      <li *ngFor="let movie of movies" class = "container" (click) = "navigateToDetails(movie)">
        <div>
          <p class = "resultDetails">
            <span>{{movie.Title}}</span><br>
            <span>{{movie.Type}}</span><br>
            <span>{{movie.Year}}</span>
          </p>
            <img *ngIf ='movie.Poster != "N/A"; else noPoster' src="{{movie.Poster}}" class = "poster" />
              <ng-template #noPoster>
                <img class="poster" src='assets/images/no-image.png'/>
              </ng-template>
        </div>
       </li>
    <mat-paginator [length]=totalResults 
                   [pageSize]=movies.length
                   [hidePageSize]=true
                   (page)="doPaginate($event)">
    </mat-paginator>
    </ul>

