.searchField {
    width: 650px;
    margin-bottom: 15px; 
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
}
.heading {
    text-align: center;
}
.inputField {
    width: 400px;
}
.detailsLink {
    display: block;
    text-align: center;
}
.poster {
    width: 80px;
    height: 100px;
    margin-left: 30%; 
}
.searchResults {
    list-style-type: none; 
    width: 58%;
    margin-left: 12%;
}
.resultDetails {
    display: block;
    float: right;
    text-align: right;
}

