$fuchsia: #ff44b8;
$cyan: #1bffea;
$movieTitle: #494747;
$movieBorder: #efe8e8;

button:focus, input:focus {
    outline-width: 0px;
}
.searchField {
    box-sizing: border-box;
    width: 60%;
    margin-bottom: 15px; 
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
}
.advance-block {
    margin: 10px 75px 10px 80px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}
.advance-type {
    margin-right: 70px;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    padding: 3px 7px;
    color: grey;
    font-weight: bolder;
    border: 1px inset;
}
::ng-deep.ui-dropdown {
    margin-right: 97px;
}
.matSpinner {
    position: fixed;
    top: 50%;
    right: 50%;
}
.matSpinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
stroke: #636262;
}
.moviesList {
    padding: 0px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.searchedResults {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 430px;
    margin-bottom: 20px;
}
.heading {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    margin: 85px 0 30px; 
    font-size: 4em;
    text-shadow:-3px 0px 5px $fuchsia, -4px 0px 2px $fuchsia, 
                 0px 0px 10px $fuchsia, 2px 0px 3px $fuchsia, 
                 0px -1px 5px $fuchsia, 0px -2px 0px $fuchsia, 
                 0px 1px 5px $fuchsia, 0px 2px 3px $fuchsia;
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.inputField {
    width: 57%;
    color: grey; //#a19b9a;
    border-radius: 15px;
    height: 40px;
    padding: 3px 25px 0 40px;
    letter-spacing: 0.5px;
    &.isInvalid {
        border: 2px solid red;
    }
}
label {
    position: relative;
}
i {
    position: absolute;
    left: 16px;
    top: 2px;
    color: grey;
    &.notEmpty {
        color: $fuchsia;
    }
}
.button {
    background: $fuchsia;
    color: white;
    border: none;
    border-radius: 15px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    letter-spacing: 0.3px;
    &.search {
        margin: 0 2px;
    }
    &.advanced {
        background: $cyan;
    }
}
.button:hover, button label:hover {
    cursor: pointer;
}
.poster {
    width: 170px;
    height: 240px;
}
.movie-container {
    box-sizing: border-box;
    list-style: none;
    background-color: rgba(255,255,255,0.9);
    padding: 10px 10px;
    border-radius: 8px;
    margin: 20px 20px;
    border: 1px solid $movieBorder;
    min-height: 360px;
    &:hover {
        background-color: rgba(255,255,255,1);
        cursor: pointer;
        box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    }
}
.movie-title {
    font-weight: bolder;
    font-size: 19px;
    margin: 5px 0;
    min-height: 40px;
    text-align: center;
    color: $movieTitle;
}
.movie-details {
    text-align: center; 
    font-size: 16px;
    margin: 0px;
    color: #616060;
}
::ng-deep body .ui-paginator {
    background-color: transparent;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    border: none;
}
::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: $cyan;
    border-radius: 15px;
}
::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page:hover, ::ng-deep body .ui-paginator .ui-paginator-first:hover, 
  ::ng-deep body .ui-paginator .ui-paginator-prev:hover, ::ng-deep body .ui-paginator .ui-paginator-next:hover, ::ng-deep body .ui-paginator .ui-paginator-last:hover {
    border-radius: 15px;
}
::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus, ::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus, ::ng-deep body .ui-paginator .ui-paginator-first:focus, 
::ng-deep body .ui-paginator .ui-paginator-prev:focus, ::ng-deep body .ui-paginator .ui-paginator-next:focus, ::ng-deep body .ui-paginator .ui-paginator-last:focus {
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $cyan;
    box-shadow: inset 0 0 4px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,.3);
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box; 
}