.container {
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #edebeb;
	border: 2px solid #636262;
	width: 17%;
	padding: 15px;
	margin-top: 15%;
	height: 120px;
}
div p {
	margin-top: 0;
	font-size: 1.2em;
	color: #545454;
	font-weight: bold;
}
:host ::ng-deep.ui-button, :host ::ng-deep.ui-button:enabled:hover {
 	background-color: #e4018d;
 	border: 1px solid white;
}