<h1 class="heading">Welcome to the MovieLand</h1>
<div class ="registrationForm">
    <form [formGroup]="registrationForm" (submit) = "submitForm($event)">
        <span class="ui-float-label">
            <input id="float-name" type="text" size="30" pInputText formControlName="name" #inputRef>
            <label for="float-name">Name</label>
        </span>
        <span class="ui-float-label">
            <input id="float-surname" type="text" size="30" pInputText formControlName="surname" #inputRef>
            <label for="float-surname">Surname</label>
        </span>
        <span class="ui-float-label">
            <input id="float-email" type="text" size="30" pInputText formControlName="email" class="emailForm" #inputRef>
            <label for="float-email">Email</label>
        </span>
        <span class="ui-float-label">
            <input id="float-pswd" type="password" size="30" pPassword formControlName="pswd" class="pswdForm" #inputRef>
            <label for="float-pswd">Password</label>
        </span>
        <p-button label="Create an Account" type="submit"></p-button>
    </form>
</div>
