$orange: orange;
$lightgrey: #ebe8e8;
$grey: #616060; 

.heading {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    margin: 70px 0 30px; 
    font-size: 3em;
    text-shadow:-3px 0px 5px $orange, -4px 0px 2px $orange, 
                 0px 0px 10px $orange, 2px 0px 3px $orange, 
                 0px -1px 5px $orange, 0px -2px 0px $orange, 
                 0px 1px 5px $orange, 0px 2px 3px $orange;
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
i {
   &.back-to-home {
       background: url(../../../assets/images/Icons/undo.svg) no-repeat;
       width: 25px;
       height: 20px;
       margin-left: 8px;
       filter: invert(37%) sepia(16%) saturate(9%) hue-rotate(348deg) brightness(94%) contrast(88%);
   }
}
.comment {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10%;
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 15px; 
    border: 2px solid #636262;
    border-radius: 3px;
    background: #edebeb;
    padding: 15px;
    padding-top: 15px;
    font-family: Constantia;
}
#float-input {
    width: 100%;
}
.replyForComment {
    text-align: center;
    font-family: Constantia;
    color: #545454;
}
.submitButton {
    float: right;
    background: #edebeb;
    color: #545454;
    border: 1px solid #636262;
    border-radius: 3px;
}
.someFeatures {
    display: flex;
    flex-direction: row;
}
.checkbox {
    display: inline-block;
    background: #edebeb;
    border: 2px solid #636262;
    border-radius: 3px;
    margin-left: 10%;
    margin-right: auto;
    font-family: Constantia;
    text-align: center;
    padding: 7px;
}
.rating {
    background: #edebeb;
    border: 2px solid #636262;
    border-radius: 3px;
    width: 212px;
    margin-bottom: 15px;
    margin-right: 10%;
    margin-left: auto;
    color: #e4018d;
    font-family: Constantia;
    text-align: center;
}
p-rating {
    cursor: pointer;
}
.matSpinner {
    position: fixed;
    top: 50%;
    right: 50%;
}
.matSpinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
stroke: #636262
}
.back-to-home-button {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.9);
    color: $grey;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    width: 30%;
    margin: 0 auto 15px auto;
    box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    &:hover {
        background-color: rgba(255, 255, 255, 1);
        font-weight: bolder;
    }
    &:hover i.icon.back-to-home {
        filter: invert(66%) sepia(20%) saturate(6891%) hue-rotate(3deg) brightness(109%) contrast(102%);
    }
}
.movie-description {
	display: flex;
	margin: 0 auto;
    width: 75%;
    .poster-wrapper {
        margin: auto 0;
        padding: 10px 0 10px 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 7px 0px 0px 7px;
        box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.26);
        &:after {
            content: ' ';
            background-color: white;
        }
    }
    .poster {
        border-radius: 5px;
        max-height: 450px;
	    max-width: 330px;
    }
}
.description-details {
	justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    color: $grey;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    p {
        border-bottom: 1px solid $lightgrey;
    }
    span {
        font-weight: bold;
    }
    span.votes-quantity {
        font-weight: normal;
        font-size: 13px;
    }
}


