@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(assets/images/background.jpg) no-repeat;
    background-size: cover;
}